<div class="container">
  <h2>Group Mail</h2>

  <%= form_with model:@group, local:true do |f| %>
   <div class="form-group">
    <label for="title">タイトル</label>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="form-group">
    <label for="body">本文</label>
    <%= f.text_field :introduction, autofocus: true %>
  </div>
  <div class="form-group">
    <label for="image">グループ画像</label>
    <%= f.attachment_field :image %>
  </div>

  <%= f.submit "Update Group", class:"btn btn-success" %>
  <% end %>
</div>